.container {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.main {
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85em;
}

.ideaPage {
    padding: 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btnRegister {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4D9CFE;
    color: #000000;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 0 transparent;
}

.btnRegister:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #4D9CFE;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 0 transparent;
}

.regIcon {
    color: #000000;
    margin-left: 10px;
}

.regIcon:hover {
    color: #4D9CFE;
    margin-left: 10px;
}

.fabIcons {
    margin-right: 10px;
    cursor: pointer;
}

.fabIcons:hover {
    margin-right: 10px;
    cursor: pointer;
    color: #4D9CFE;
}

.imageBackground {
    background-image: url("../public/Homepage-Image.png");
    width: 100%;
    height: 600px;
    resize: inherit;
}

.mainLower {
    background-color: #F3F3F3;
    padding: 20px
}

.mainLower2 {
    background-color: #ffffff;
    padding: 20px
}

.hubImg {
    border: 5px solid #003D77;
}
.none {
    color: inherit;
    text-decoration: none;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.eventsSeparator {
    background-color: #D7D6D6;
    height: 15px;
    width: 100%;
    border-radius: 100px;
    margin: 10px 0 0 0;
}

.eventsName {
    color: #003D77;
    font-size: clamp(1.25rem, calc(1.41667rem + 0.37037vw), 1.55rem);
    font-weight: 800;
    cursor: pointer;
}

.newsHeadline {
    color: #FFFFFF;
    font-size: clamp(1.25rem, calc(1.41667rem + 0.37037vw), 1.55rem);
    font-weight: 800;
    cursor: pointer;
    padding: 15px;
    width: 400px
}

.newsHeadline2 {
    color: #003D77;
    font-size: clamp(1.05rem, calc(1.41667rem + 0.37037vw), 1.15rem);
    font-weight: 700;
    cursor: pointer;
    flex-wrap: wrap;
    width: 450px;
}

.partners {
    color: #FFFFFF;
    font-size: 2.0rem;
    margin: 0.2em 0;
    padding: 0.2em 0;
    font-weight: 300;
    cursor: pointer;
}
.partners:hover {
    color: #4D9CFE;
}

.weDo {
    color: #FFFFFF;
    cursor: pointer;
}
.weDo:hover {
    color: #4D9CFE;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142546;
    padding-top: 50px;
    flex-direction: column;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}


.description {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #ffffff;
}

.carouselCard {
    width: 400px;
    height: 300px;
    display: flex;
    background-color: #f3f3f3;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardInfo1 {
    color: #003D77;
    font-size: 2.3rem;
    font-weight: 800;
}

.cardInfo2 {
    font-size: clamp(1.625rem, 2vw, 1.825rem);
    font-weight: 500;
}

.cardInfo3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.idea {
    height: 300px;
    width: 630px;
    background-color: #4D9CFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ideaTxt {
    font-size: clamp(2.5rem, calc(2rem + 2.22222vw), 4rem);
}

.reportTitle {
    font-size: clamp(1.5rem, calc(1.41667rem + 0.37037vw), 1.75rem);
    font-weight: 800;
}

.reportsTitle {
    font-size: clamp(1.15rem, calc(1.41667rem + 0.37037vw), 0.95rem);
    font-weight: 800;
    color: #003D77;
    cursor: pointer;
}

.reportsTitle:hover {
    font-size: clamp(1.15rem, calc(1.41667rem + 0.37037vw), 0.95rem);
    font-weight: 800;
    color: #4D9CFE;
}

.eventDate {
    background-color: #4D9CFE;
    padding: 10px;
    position: absolute;
    flex-wrap: wrap;
    width: 150px;
    font-size: clamp(.95rem, calc(1.41667rem + 0.37037vw), 0.85rem);
}

.blueDivs {
    background-color: #003D77;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    cursor: pointer;
}

.blueDivsText {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.625em;
}

.boldText {
    color: #000000;
    font-weight: 700;
    font-size: 1.525em;
}

.roundBorder {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #4D9CFE;
    align-items: center;
    display: flex;
    justify-content: center;
}


.roundBorder2 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #4D9CFE;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.reportsToggleTitle {
    font-size: clamp(1.625rem, calc(1.39583rem + 1.01852vw), 2.3125rem);
    font-weight: 700;
    color: #4D9CFE;
}


@media (min-width: 480px) and (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 400px;
        height: 300px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 400px;
        height: 300px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 960px) and (max-width: 1368px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 400px;
        height: 300px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1368px) and (max-width: 1500px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 450px;
        height: 300px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1500px) and (max-width: 1980px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 550px;
        height: 350px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1980px) and (max-width: 2380px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .carouselCard {
        width: 600px;
        height: 300px;
        display: flex;
        background-color: #f3f3f3;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
